<nav>
  <div>
    <a href="/"><h1 id="title">Blog Ninja</h1></a>
    <p>A net Ninja Site</p>
  </div>
  <ul>
    <li><a href="/" class="nav">Blogs</a></li>
    <li><a href="/about" class="nav">About</a></li>
    <li><a href="/blogs/create" class="nav">New Blog</a></li>
  </ul>
</nav>
